
/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1em;
	}

/* Image */

	.image.left {
		margin: 0 1.5em 1em 0;
	}

	.image.right {
		margin: 0 0 1em 1.5em;
	}

/* Section/Article */

	header br {
		display: none;
	}

	header.major h2 {
		font-size: 2.5em;
	}

		header.major h2 + p {
			font-size: 1.5em;
		}

/* Features */

	.features article .image {
		display: block;
		margin: 0 0 2.25em 0;
		padding-right: 0;
		width: 100%;
	}

	.features article .inner {
		display: block;
		width: 100%;
	}

/* Header */

	#header > header {
		padding: 2em;
	}

		#header > header .avatar {
			margin: 0 auto 1.6875em auto;
			width: 6em;
		}

		#header > header h1 {
			font-size: 1.5em;
		}

		#header > header p {
			margin: 1em 0 0 0;
		}

	#header > footer {
		padding: 1.5em;
	}

/* Main */

	#main > section > .container {
		padding: 2em 0 0 0;
	}

/* One */

	#one:before {
		height: 7em;
	}

/* Footer */

	#footer {
		text-align: center;
	}

		#footer .copyright li {
			border-left: 0;
			display: block;
			line-height: 1.75em;
			margin: 0.75em 0 0 0;
			padding-left: 0;
		}

			#footer .copyright li:first-child {
				margin-top: 0;
			}

/* Layers */

	#titleBar .toggle {
		height: 4em;
		width: 6em;
	}

		#titleBar .toggle:before {
			font-size: 14px;
			width: 44px;
		}
