
/* Basic */

	body, input, select, textarea {
		font-size: 13pt;
	}

/* Header */

	#header {
		width: 21em;
	}

		#header > header {
			padding: 2em;
		}

		#header > footer {
			padding: 1.5em;
		}

/* Wrapper */

	#wrapper {
		padding-right: 21em;
	}

/* Main */

	#main > section > .container {
		padding: 4em 0 2em 0;
	}
