@import 'vars';
@import 'mixins';


$size-header: 20em;

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}
	
/* Header */

	#header {
		width: $size-header;
	}
	
/* Wrapper */

	#wrapper {
		@if $side-header == 'right' {
			padding-right: $size-header;
		}
		@else {
			padding-left: $size-header;
		}
	}
