
/* Basic */

	code,
	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea,
	.box,
	.image,
	.image img,
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		position: relative;
		-ms-behavior: url("css/ie/PIE.htc");
	}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		line-height: 2.75em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: normal;
		-webkit-appearance: normal;
		-o-appearance: normal;
		-ms-appearance: normal;
		appearance: normal;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			padding: 0 0 0 1.5em;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				display: none;
			}

/* Button */

	input[type="submit"].alt,
	input[type="reset"].alt,
	input[type="button"].alt,
	.button.alt {
		border: solid 2px #e4e4e4;
	}
